*.blend
*.blend1
*.ai
*.psd
*.aep
assets/*.svg
docs.aep_AME/
docs/.bgpu.md

*.zip
*.tar.gz
*.rar
*.7z
*.log

build/
*.whl

__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
*.egg
*.so
*$py.class
*.py[cod]

/puree/puree_core/target/
/puree/native_binaries/
**/*.rs.bk
Cargo.lock