$bg_color           : rgba(0,0,0,0) !default;

$hover_bg_color     : rgba(0,0,0,0) !default;
$click_bg_color     : rgba(0,0,0,0) !default;

$text_color_value   : #ffffff !default;

$border_radius_value: 8px !default;
$padding_value      : 10px !default;

.button {
    width          : 300px;
    height         : 80px;
    display        : flex;
    align-items    : center;
    justify-content: center;
    padding        : $padding_value;
    border-radius  : $border_radius_value;
    color          : $bg_color;
    hover-color    : $hover_bg_color;
    click-color    : $click_bg_color;
}

.button_text {
    width       : 300px;
    height      : 80px;
    color       : rgba(0,0,0,0);
    text-color  : $text_color_value;
    text-scale  : 24px;
    text-align-h: center;
    text-align-v: center;
}
