// TEXT INPUT COMPONENT [CORE UI VOL. I]
// Created by XWZ
// ◕‿◕ Distributed for free at:
// https://github.com/nicolaiprodromov/puree/wiki
// ╔═════════════════════════════════╗
// ║  ██   ██  ██      ██  ████████  ║
// ║   ██ ██   ██  ██  ██       ██   ║
// ║    ███    ██  ██  ██     ██     ║
// ║   ██ ██   ██  ██  ██   ██       ║
// ║  ██   ██   ████████   ████████  ║
// ╚═════════════════════════════════╝

$footer_action_color: rgb(186, 186, 186) !default;
$footer_action_scale: 12px !default;
$transparent        : rgba(0, 0, 0, 0) !default;
$border_radii       : 10px !default;
$bg_color           : #252830 !default;
$bg_label_color     : #353942 !default;
$bg_footer_color    : #353942 !default;
$text_color_value   : #f0f3f6 !default;
$text_scale_value   : 16px !default;
$text_input_padding : 35px !default;

.txt_input{
    width          : 100%;
    height         : 210px;
    color          : $transparent;
    border-radius  : $border_radii;
    padding        : 0px;
    display        : flex;
    flex-direction : column;
    align-items    : start;
    justify-content: start;
}

.txt_input_label_box{
    width          : 100%;
    height         : 40px;
    color          : $bg_label_color;
    display        : flex;
    flex-direction : row;
    align-items    : center;
    justify-content: start;
    padding        : 0px 10px;
}

.txt_input_ti_icon{
    width       : 20px;
    height      : 20px;
    color       : $transparent;
    margin-right: 10px;
    img-align-h : center;
    img-align-v : center;
    img-opacity : 0.25;
}

.txt_input_ti_label{
    width       : 90%;
    height      : 100%;
    color       : $transparent;
    text-color  : $text_color_value;
    text-scale  : $text_scale_value;
    text-align-h: left;
    text-align-v: center;
}

.txt_input_input_box{
    width        : 100%;
    height       : 150px;
    color        : $bg_color;
    padding      : $text_input_padding;
    text-color   : $text_color_value;
    text-scale   : $text_scale_value;
    text-align-h : left;
    text-align-v : top;
}

.txt_input_ti_footer{
    width          : 100%;
    height         : 40px;
    color          : $bg_footer_color;
    display        : flex;
    flex-direction : row;
    align-items    : center;
    justify-content: start;
    padding        : 0px 10px;
}

.txt_input_ti_footer_text{
    width       : 100%;
    height      : 100%;
    color       : $transparent;
    text-color  : $footer_action_color;
    text-scale  : 12px;
    text-align-h: left;
    text-align-v: center;
}

.txt_input_ti_footer_action{
    width       : 20px;
    height      : 20px;
    color       : $transparent;
    text-color  : $footer_action_color;
    text-scale  : $footer_action_scale;
    text-align-h: left;
    text-align-v: center;
}

.txt_input_ti_footer_icon{
    width      : 20px;
    height     : 20px;
    color      : $transparent;
    img-align-h: center;
    img-align-v: center;
    img-opacity: 0.1;
}