$bg-dark      : #393939;
$border-radius: 8px;

.showcase_root {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    width          : 100%;
    height         : 100%;
    color          : rgba(0,0,0,0);
}

.showcase_bg{
    flex-direction  : column;
    width           : 600px;
    height          : 500px;
    background-color: $bg-dark;
    border-radius   : $border-radius;
    justify-content : start;
    align-items     : start;
}

.left_side_interactions{
    overflow       : hidden;
    width          : 50%;
    height         : 100%;
    display        : flex;
    flex-direction : column;
    align-items    : start;
    justify-content: start;
    padding        : 10px;
    color          : #1c213a;
    color-1        : #09090a;
    color-gradient-rot: 123deg;
}

.text_input_test{
    width          : 100%;
    height         : 40px;
    border-radius  : 300px;
    padding        : 10px;
    text-scale     : 16px;
    text-color     : #ffffff;
    text-align-h   : left;
    text-align-v   : center;
    color          : #111111;
}