root{
    display        : flex;
    position       : relative;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    width          : 100%;
    height         : 100%;
    color          : rgba(0,0,0,0);
    --bg_col       : #121212;
    --header_col   : #f64720;
    --text_col     : #FFFFFF;
    --accent_col   : #fafc86;
    --border_radii : 7px;
    --gappy        : 7px;
}

bg{
    display         : flex;
    flex-direction  : row;
    width           : 800px;
    height          : 400px;
    background-color: var(--bg_col);
    border-radius   : var(--border_radii);
}

left_box{
    display       : flex;
    flex-direction: column;
    width         : 70%;
    height        : 100%;
    padding       : var(--gappy);
    color         : rgba(0,0,0,0);
}

left_top_box{
    width        : 100%;
    height       : 50%;
    color        : rgba(0,0,0,0);
    border-radius: var(--border_radii);
    margin-bottom: var(--gappy);
}

left_bottom_box{
    width        : 100%;
    height       : 50%;
    color        : var(--header_col);
    border-radius: var(--border_radii);
}

left_top_box_box{
    width        : 70%;
    height       : 100%;
    color        : var(--header_col);
    border-radius: var(--border_radii);
    margin-right : var(--gappy);
}

middle_top_box{
    width        : 30%;
    height       : 100%;
    color        : var(--accent_col);
    border-radius: var(--border_radii);
}


right_box{
    width         : 30%;
    height        : 100%;
    border-radius : var(--border_radii);
    display       : flex;
    flex-direction: column;
    padding       : var(--gappy);
    padding-left: 0px;
    color         : rgba(0,0,0,0);
}

right_top_box{
    width        : 100%;
    height       : 30%;
    border-radius: var(--border_radii);
    margin-bottom: var(--gappy);
    color        : var(--header_col)
}

right_bottom_box{
    width        : 100%;
    height       : 70%;
    border-radius: var(--border_radii);
    color        : var(--accent_col);
}